
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Therap.ai</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/Datatable/cloudfare.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/Datatable/datatables.css') }}" />


 
  <!-- Template Main CSS File -->

  <link rel="stylesheet"  type= "text/css"  href="{{ url_for('static', filename='assets/css/style.css') }}" />

  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='assets/css/activityblock.css') }}"/>

<style> 

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.container1 {
  position: relative;
  margin-top: 30px;
  width: 350px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container1:hover .overlay {
  display: block;
  background: rgba(99, 98, 98, 0.3);
}

img {
  position: absolute;
  width: 350px;
  height: 200px;
  left: 0;
}

.title {
  position: absolute;
  width: 350px;
  left: 0;
  top: 100px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container1:hover .title {
  top: 40px;
}

.button {
  position: absolute;
  width: 350px;
  left:0;
  top: 100px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 150px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container1:hover .button {
  opacity: 1;
}
</style>

</head>
<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
   
    </div>
    <br>
    <br>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      
      <h1 class="logo"><a href="index.html">Therap<span>.ai</span></a></h1>
      <br>
      </div>
    </section><!-- End Hero -->
  
  </header><!-- End Header -->
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <br>
        <h1>Activities</h1>
        <div class="d-flex">  
       
        </div>
    </div>
    
  
  <div class="row">
    <div class="container1">
      <img src="{{ url_for('static', filename='assets/img/Group 67.png') }}" alt="" />
      <p class="title">Sudoku</p>
      <div class="overlay"></div>
      <div class="button"><a href="https://www.websudoku.com/" target="_blank"> Play </a></div>
    </div>

    <div class="container1">
      <img src="{{ url_for('static', filename='assets/img/puzzle.png') }}" alt="" />
      <p class="title">Jigsaw Puzzle</p>
      <div class="overlay"></div>
      <div class="button"><a href="https://www.jigsawplanet.com/"target="_blank"> Play </a></div>
    </div>

    <div class="container1">
      <img src="{{ url_for('static', filename='assets/img/Group 73.png') }}" alt="" />
      <p class="title">Spot the difference</p>
      <div class="overlay"></div>
      <div class="button"><a href="https://www.smithsonianmag.com/games/spot-difference-180968040/" target="_blank"> Play </a></div>
    </div>

    <div class="container1">
      <img src="{{ url_for('static', filename='assets/img/Group 71.png') }}" alt="" />
      <p class="title">Gridland</p>
      <div class="overlay"></div>
      <div class="button"><a href="http://gridland.doublespeakgames.com/" target="_blank"> Play </a></div>
    </div>

    <div class="container1">
      <img src="{{ url_for('static', filename='assets/img/2048.png') }}" alt="" />
      <p class="title"></p>
      <div class="overlay"></div>
      <div class="button"><a href="https://play2048.co/" target="_blank"> Play </a></div>
    </div>
    
    <div class="container1">
      <img src="{{ url_for('static', filename='assets/img/Group 68.png') }}" alt="" />
      <p class="title">Sudoku</p>
      <div class="overlay"></div>
      <div class="button"><a href="https://www.websudoku.com/" target="_blank"> Play </a></div>
    </div>

  </div>
  

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Mukesh Patel School Of Technology Management & Engineering, NMIMS</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <a href="mailto: therapai@gmail.com" target="_blank">therapai@gmail.com</a>
              <p></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 9653232334</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }} "></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>

