
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Therap.ai</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" />

  <!-- Template Main CSS File -->

  <link rel="stylesheet"  type= "text/css"  href="{{ url_for('static', filename='assets/css/style.css') }}" />

  
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
   
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Therap<span>.ai</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <!-- <li><a class="nav-link scrollto " href="#chatbot">ChatBot</a></li>   -->
          <li><a class="nav-link scrollto" href="{{ url_for('chatbot') }}"target="_blank">ChatBot</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('resources') }}"target="_blank">Resources</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('activities') }}"target="_blank">Activities</a></li>
          <li><a class="nav-link scrollto" href="#team">Testimonies</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('login') }}">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>Therap.ai</span></h1>
      <h2>Your one stop shop for all therapy needs</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Our model</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">



    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          
          <h3>Find Out More <span>About our model</span></h3>
          <p>Our model is trained on a dataset that contains real patient-therapists interactions</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{{ url_for('static', filename='assets/img/online_treatment.png') }} " class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Trained using Logistic Regression Classifier</h3>
            <p class="fst-italic">
              The idea behind Therap.ai is to use a Logistic Regression Classifier based training model due to certain superior features like accepting the entire input sequence and lower complexity of the self-attention mechanism. The transformer architecture comprises an encoder-decoder system where the input from the user is provided as an input to the encoder. The transformer model has also shown promising results in several previous studies.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="1" class="purecounter"></span>
              <p>Commands Supported</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
              <p>Activities Suggested</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of training</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <section id="" class="clients section-bg">

    </section>

    <!-- ======= Portfolio Section ======= -->
    <section id="chatbot" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Chat Bot</h2>
          <h3>Check our <span>Chatbot</span></h3>
        </div>
      </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonies</h2>
          <h3>Testemonials by our <span>Clients</span></h3>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='assets/img/team/K.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Bhavik Bubbles</h4>
                <p>I was one of the lucky ones. I opened up Therap.ai, and instantly found my dream therapist on the first try. Something about the website was just warm and friendly to me. They've really created a safe space for me</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='assets/img/team/M.jpg') }}" class="img-fluid" alt="">
            
              </div>
              <div class="member-info">
                <h4>Jash Katkar</h4>
                <p>I'm on third my mental health app. It took me months of research to find an app that I like. I found Therap.ai truly amazing. I felt so understood in a way I didn’t with my other two apps.</p>
              </div>
            </div>
          </div> 

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='assets/img/team/V.jpg') }}" class="img-fluid" alt="">
              
              </div>
              <div class="member-info">
                <h4>Mihir Dev</h4>
                <p>Therap.ai combines natural language understanding with clinical assurance which helps everyone manage their mental health in the new normal.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='assets/img/team/S.jpg') }}" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Ran out of funny names, give up he life me</h4>
                <p>The help that I got from Therap.ai was crucial in helping me during my crisis. I am proof great things are happening at Therap.ai. I applaud the organization for it’s genuine commitment of making life easier for those in need.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Disclaimer - <i>Therap.ai is not designed to assist with crises such as abuse, severe mental health conditions that may cause feelings of suicide, harm to self, and any other medical emergencies. Therap.ai cannot and will not offer medical or clinical advice. It can only suggest that users to seek professional medical help. Please reach out to your country-specific suicide hotline in case of an emergency.</i></p>
 
          <p><i>You must be at least 18 years of age to use Therap.ai. If you are between 13 and 18 years of age, please use Therap.ai along with your parents or legal guardian. Therap.ai is not designed to be used by children under 13.</i></p>
          <br>
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
          
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Mukesh Patel School Of Technology Management & Engineering, NMIMS</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>therapai@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 9653232334</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }} "></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>
