
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Therap.ai</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/Datatable/cloudfare.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/Datatable/datatables.css') }}" />


 
  <!-- Template Main CSS File -->

  <link rel="stylesheet"  type= "text/css"  href="{{ url_for('static', filename='assets/css/style.css') }}" />

  
</head>

<script src="{{ url_for('static', filename='vendor/Datatable/dataTables.bootstrap5.min.js') }}"
src="{{ url_for('static', filename='vendor/Datatable/dataTables.bootstrap5.min.js') }}"
src="{{ url_for('static', filename='vendor/Datatable/jquery-3.5.1.js') }}">

$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
   
    </div>
    <br>
    <br>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      
      <h1 class="logo"><a href="index.html">Therap<span>.ai</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->


    
      <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <br>
      <br>
      <br>
      <br>
      </div>
    </section><!-- End Hero -->
  
  </header><!-- End Header -->
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Resources</h1>
        <div class="d-flex">  
          <a href="#about" class="btn-get-started scrollto">Helplines</a>
          <br>
      <br>
        </div>
</div>
  <table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Website Link</th>
            <th>Phone Number</th>
            <th>Email </th>
            <th>Location</th>
            <!-- <th>Parameter</th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>iCALL</td>
          <td><a href="https://icallhelpline.org/" target="_blank">icallhelpline.org</a></td>
          <td>+91 9152987821</td>
          <td><a href="mailto:icall@tiss.edu" target="_blank">icall@tiss.edu</a></td>
          <td>Mumbai</td>
        </tr>
        
        <tr>
          <td>Sangath</td>
          <td><a href="https://sangath.in/" target="_blank">sangath.in</a></td>
          <td>+91 9552530557</td>
          <td><a href="mailto:contactus@sangath.in" target="_blank">contactus@sangath.in</a></td>
          <td>Goa</td>
        </tr>
        
        <tr>
          <td>Mitram foundation</td>
          <td><a href="https://www.mitramfoundation.org/" target="_blank">mitramfoundation.org</a></td>
          <td>+91 8025722573</td>
          <td><a href="mailto: share@mitramfoundation.org" target="_blank">share@mitramfoundation.org</a></td>
          <td>Bangalore</td>
        </tr>
        
        <tr>
          <td>Vandrevala foundation</td>
          <td><a href="https://www.vandrevalafoundation.com/" target="_blank">vandrevalafoundation.com</a></td>
          <td>+91 9999666555</td>
          <td><a href="mailto: help@vandrevalafoundation.com" target="_blank">help@vandrevalafoundation.com</a></td>
          <td>Mumbai</td>
        </tr>
        
        <tr>
          <td>Connectingngo</td>
          <td><a href="https://connectingngo.org/" target="_blank">connectingngo.org</a></td>
          <td>+91 9922004305</td>
          <td><a href="mailto: distressmailsconnecting@gmail.com" target="_blank">distressmailsconnecting@gmail.com</a></td>
          <td>Pune</td>
        </tr>
        
        <tr>
          <td>Parivarthan</td>
          <td><a href="https://parivarthan.org/" target="_blank">parivarthan.org</a></td>
          <td>+91 7676602602</td>
          <td><a href="mailto: information@parivarthan.org" target="_blank">information@parivarthan.org</a></td>
          <td>Bangalore</td>
        </tr>

        <tr>
          <td>Voice That Cares</td>
          <td><a href="https://www.rocf.org/voice-that-cares/" target="_blank">www.rocf.org</a></td>
          <td>+91 8448844845</td>
          <td><a href="mailto: info@rocf.org" target="_blank">info@rocf.org</a></td>
          <td>Bangalore</td>
        </tr>
         
        <tr>
          <td>Mann Talks</td>
          <td><a href="https://www.manntalks.org/" target="_blank">manntalks.org</a></td>
          <td>+91 8448844845</td>
          <td><a href="mailto: counselling@manntalks.org" target="_blank">counselling@manntalks.org</a></td>
          <td>Mumbai</td>
        </tr>


        
  </tr>
       
    </tbody>
    <!-- <tfoot>
        <tr>
          <th>Name</th>
          <th>Website Link</th>
          <th>Phone Number</th>
          <th>Location</th>
          <th>Parameter</th>
        </tr>
    </tfoot> -->
</table>
  <!-- ======= Hero Section ======= -->
  
  <main id="main">



    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          
          <h3>Find Out More <span>About our model</span></h3>
          <p>Our model is trained on a dataset that contains real patient-therapists interactions</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{{ url_for('static', filename='assets/img/about.jpg') }} " class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Trained using XXX</h3>
            <p class="fst-italic">
              Stuff about "our model"
            </p>
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>
                  <h5><br>"key" highlight 1</h5>
                  
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>"key" highlight 2</h5>
                  
                </div>
              </li>
            </ul>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="1" class="purecounter"></span>
              <p>Commands Supported</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
              <p>Activities Suggested</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of training</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <section id="" class="clients section-bg">
   
    </section>

    <!-- ======= Portfolio Section ======= -->
    
   

    </section>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Our Hardworking <span>Team</span></h3>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='assets/img/team/K.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Hersh Kenkre</h4>
              
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='assets/img/team/M.jpg') }}" class="img-fluid" alt="">
            
              </div>
              <div class="member-info">
                <h4>Madiha Mansoori</h4>
                
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='assets/img/team/V.jpg') }}" class="img-fluid" alt="">
              
              </div>
              <div class="member-info">
                <h4>Hrishil Maliwal</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='assets/img/team/S.jpg') }}" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Sharvil Kotian</h4>
            
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
          
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Mukesh Patel School Of Technology Management & Engineering, NMIMS</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <a href="mailto: therapai@gmail.com" target="_blank">therapai@gmail.com</a>
              <p></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 9653232334</p>
            </div>
          </div>

        </div>

        

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 

    
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }} "></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>

